version: 2
jobs:
  build:
    machine: true
    working_directory: ~/eventuate-tram-core-examples-basic
    steps:
      - checkout
      - restore_cache:
          key: eventuate-tram-core-examples-basic-{{ checksum "build.gradle" }}
      - run: TERM=dumb ./gradlew testClasses
      - save_cache:
          paths:
            - ~/.gradle
          key: eventuate-tram-core-examples-basic-{{ checksum "build.gradle" }}
      - run: TERM=dumb ./build-and-test-all.sh
      - run: TERM=dumb ./build-and-test-all-maven.sh
      - store_test_results:
          path: "*/build/test-results"
